// =======================================================================================
// ** Colour, font stacks, media queries, that kind of thing.  **
// =======================================================================================

// =========================================
// ** Media Queries  **
// =========================================

@mixin breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }
  @media (max-width: $point) {
    @content;
  }
}

// =========================================
// ** Mixins  **
// =========================================

//********** Layout **********

//Flex Mixin
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

//Layout Variables
$grid-gap: 0 1rem;

//********** Typography **********

//Font Stacks
@mixin header-font-stack {
  font-family: "Asap", sans-serif;
}

@mixin heading-font-stack {
  font-family: "Alegreya SC", serif;
}

@mixin font-stack {
  font-family: "Crimson Text", serif;
}

//Paragraph Top and Bottom Margin Mixin

@mixin first-and-last-paragraph {
  p {
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

//********** Spacing & Sizing  **********

//Font Sizing
$main-font-size: 1.25rem;
$larger-font-size: 1.5rem;
$smaller-font-size: 1rem;

//Heading Sizes
$heading-size-large: 3.5rem;
$heading-size-medium: 2rem;
$heading-size-small: $main-font-size;

//Sections
$large-section-spacing: 5rem;
$section-spacing: 3.5rem;
$small-section-spacing: 1rem;

//Paragraphs
$large-paragraph-spacing: 3rem;
$paragraph-spacing: 1.5rem;
$paragraph-spacing-small: .5rem;

//Forms
$input-spacing: 1%;

//Fancy Link Underline
@mixin link-underline($colour) {
  transition: all $transition-duration;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;

  &:hover,
  &focus {
    color: $colour;
    border-bottom: 3px solid $colour;
    padding-bottom: 0;
    margin-bottom: 5px;
    outline: 0;

    @include breakpoint(500) {
      border-bottom: 3px solid transparent;
    }
  }
}



// =========================================
// ** Variables  **
// =========================================

//********** Colours **********

//Main Font Colours
$dark-font-colour: #231f20;
$light-font-colour: #f2f0eb;
$accent-font-colour: #6fc8ba;

//Link Colours
$link-colour: #6fc8ba;
$darker-link-colour: #579c92;

//Background Colours
$dark-background-colour: #231f20;
$light-background-colour: #f2f0eb;

//Other colours
$warning: #d81818;
$valid: #10d609;

//********** Transition Timings**********

$transition-duration: 0.3s ease-in-out 0s;
$transition-duration-fast: 0.2s ease-in-out 0s;
$transition-duration-slow: 0.8s ease-in-out 0s;



// =========================================
// ** Browser Quirks  **
// =========================================
