// =======================================================================================
// ** Colour, font stacks, media queries, that kind of thing.  **
// =======================================================================================

// =========================================
// ** Media Queries  **
// =========================================

// TODO: Choose one of below

@mixin breakpoint($point) {
  @if $point == 2000 {
    @media (max-width: 2000px) {
      @content;
    }
  }
}

//********** Alternative Media queries **********

@mixin breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }
  @media (max-width: $point) {
    @content;
  }
}

// =========================================
// ** Mixins  **
// =========================================

//********** Layout **********

//Flex Mixin
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

//Layout Variables
$grid-gap: 0 1rem;

//********** Typeography **********

//Font Stacks
@mixin heading-font-stack {
}

@mixin font-stack {
}

//Fancy Link Underline
@mixin link-underline($colour) {
  transition: all $transition-duration;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;

  &:hover,
  &focus {
    border-bottom: 3px solid $colour;
    padding-bottom: 0;
    margin-bottom: 5px;
    outline: 0;

    @include breakpoint(menu) {
      border-bottom: 3px solid transparent;
    }
  }
}

//Fancy Link Underline With Visited styles
@mixin link-underline-visited($colour) {
  transition: all $transition-duration;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;

  @include breakpoint(menu) {
    border-bottom: 3px solid transparent;
    text-decoration: underline;
  }

  &:hover,
  &focus {
    border-bottom: 3px solid $colour;
    padding-bottom: 0;
    margin-bottom: 5px;
    outline: 0;

    @include breakpoint(menu) {
      border-bottom: 3px solid transparent;
    }
  }

  &:visited {
    border-bottom: 3px solid $link-visited;

    @include breakpoint(menu) {
      border-bottom: 3px solid transparent;
    }
  }
}

// =========================================
// ** Variables  **
// =========================================

//********** Colours **********

//Main Font Colours
$dark-font-colour: #424141;
$light-font-colour: #f2f0eb;

//Link Colours
$link-colour: #486a8d;

//Background Colours
$dark-background-colour: #231f20;

//********** Transition Timings**********

$transition-duration: 0.3s ease-in-out 0s;
$transition-duration-fast: 0.2s ease-in-out 0s;
$transition-duration-slow: 0.8s ease-in-out 0s;

//********** Spacing & layout  **********

//Headings
$large-h1-spacing: 5rem;
$h1-spacing: 2.5rem;
$h2-spacing: 1.5rem;
$h3-spacing: 1rem;

//Articles
$large-article-spacing: 5rem;
$article-spacing: 2.5rem;
$small-article-spacing: 1rem;

//Sections
$large-section-spacing: 3rem;
$section-spacing: 1.5rem;
$small-section-spacing: 1rem;

//Paragraphs
$large-paragraph-spacing: 3rem;
$paragraph-spacing: 1.5rem;

//Forms
$input-spacing: 1%;

//Other Spacing

// =========================================
// ** Browser Quirks  **
// =========================================
