//*==============================================================================
//** Contact Page  **
//*==============================================================================

//********** Imports **********
@import 'bits';

#map {
  height: 450px;
  width: 100%;
  color: $dark-font-colour;
  border-top: 4px solid #000;
  margin-bottom: $section-spacing;
}