//*==============================================================================
//** Homepage  **
//*==============================================================================

//********** Imports **********

@import 'bits';


//* Bracket List Div

.homepage-bracket-list-div {
  @include flex(row);
  margin: 0 auto $section-spacing;
  width: fit-content;
  font-size: 1.75rem;

  @include breakpoint(700) {
    font-size: 1.25rem;
  }
}

.homepage-list {
  margin-right: 1rem;
  padding-right: 4rem;
  position: relative;
  width: 50%;

  @include breakpoint(1250) {
    flex: 1 1 auto;
  }


  &::after {
    content: url("/images/bracket.png");
    position: absolute;
    top: 1px;
    right: 0;

    @include breakpoint(700) {
      height: 10px;
      transform: scale(.71);

    }
  }
}

.homepage-list-after {
  @include flex(column);
  justify-content: center;
  width: 50%;

  @include breakpoint(1250) {
    flex: 1 1 auto;
  }
}

.first-after-paragraph {
  font-style: italic;
  margin: 0;
}

.second-after-paragraph {
  font-style: italic;
  font-size: 2.5rem;
  color: $accent-font-colour;
  margin: 1rem 0 0;
}

.homepage-pricing-link {
  display: block;
  color: $dark-font-colour;
  width: fit-content;
  margin: $large-section-spacing auto;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  background-color: $accent-font-colour;
  transition: all $transition-duration;

  &:hover {
    background-color: $darker-link-colour;
    color: $light-font-colour;
  }
}