//*==============================================================================
//** Homepage  **
//*==============================================================================

//********** Imports **********

@import 'bits';


//* Bracket List Div

.homepage-bracket-list-div {
  @include flex(row);
  margin: 0 auto $section-spacing;
  width: fit-content;
  font-size: 1.75rem;

  @include breakpoint(700) {
    flex-wrap: wrap;
  }

  @include breakpoint(550) {
    font-size: 1.5rem;
  }
}

.homepage-list {
  margin-right: 1rem;
  padding-right: 4rem;
  position: relative;
  width: 50%;

  @include breakpoint(1250) {
    flex: 1 1 auto;
  }

  @include breakpoint(700) {
    @include flex(column);
    align-items: center;
    width: fit-content;
    margin-bottom: $small-section-spacing;
    background-image: url('/images/bracket-rotated.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 0 0 $large-section-spacing 1.5rem;
    background-size: 15rem;
  }

  @include breakpoint(400) {
    padding-bottom: $section-spacing;
    background-size: 11rem;
  }


  &::after {
    content: url("/images/bracket.png");
    position: absolute;
    top: 1px;
    right: 0;

    @include breakpoint(700) {
      content: "";
    }
  }
}

.homepage-list-after {
  @include flex(column);
  justify-content: center;
  width: 50%;

  @include breakpoint(1250) {
    flex: 1 1 auto;
  }

  @include breakpoint(700) {
    width: 100%;
    text-align: center;
  }
}

.first-after-paragraph {
  font-style: italic;
  margin: 0;
}

.second-after-paragraph {
  font-style: italic;
  font-size: 2.5rem;
  color: $accent-font-colour;
  margin: 1rem 0 0;
}

.homepage-pricing-link {
  display: block;
  color: $dark-font-colour;
  width: fit-content;
  margin: $large-section-spacing auto;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  background-color: $accent-font-colour;
  transition: all $transition-duration;

  &:hover {
    background-color: $darker-link-colour;
    color: $light-font-colour;
  }
}

.go-cardless {
  text-align: center;
  margin-top: $section-spacing;
  font-size: $larger-font-size;
  color: $accent-font-colour;
}

.go-cardless-image {
  width: 90%;
  margin: 0 auto;
  display: block;

  @include breakpoint(1000) {
    width: 100%;
  }
}