//*==============================================================================
//** Homepage Styles  **
//*==============================================================================

//********** Imports **********

@import "bits";

//*=========================================
//** Top Section  **
//*=========================================

//********** Homepage images **********

.main-image-div {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main-body-image {
  border-top: 1px solid $dark-font-colour;
  width: 100%;
}

.side-banner-image {
  position: absolute;
  right: -0.5rem;
  top: 1rem;
}

//********** Homepage Top Section Text **********

.homepage-heading {
  text-align: center;
  color: $accent-font-colour;
  font-size: 2.25rem;
  font-weight: 400;
  margin: $section-spacing auto;
}

//* Bracket List Div

.homepage-bracket-list-div {
  @include flex(row);
  margin: 0 auto $section-spacing;
  width: fit-content;
  font-size: 1.75rem;
}

.homepage-list {
  margin-right: 1rem;
  padding-right: 4rem;
  position: relative;

  &::after {
    content: url("/images/bracket.png");
    position: absolute;
    top: 1px;
    right: 0;
  }
}

.homepage-list-after {
  @include flex(column);
  justify-content: center;
}

.first-after-paragraph {
  font-style: italic;
  margin: 0;
}

.second-after-paragraph {
  font-style: italic;
  font-size: 2.5rem;
  color: $accent-font-colour;
  margin: 1rem 0 0;
}

.homepage-text-area {
  text-align: center;
}

.homepage-pricing-link {
  display: block;
  color: $dark-font-colour;
  width: fit-content;
  margin: $large-section-spacing auto;
  padding: 1rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  background-color: $accent-font-colour;
  transition: all $transition-duration;

  &:hover {
    background-color: $darker-link-colour;
    color: $light-font-colour;
  }
}
