// *=======================================================================================
// ** Styles that apply to all pages across the site  **
// *=======================================================================================

//**************************************** Imports  ****************************************

@import "bits"; //Contains variables, media queries mixins etc.

//******************************************************************************************

// *=========================================
// ** Wrappers  **
// *=========================================

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url(/images/background-image.png);
  color: $light-font-colour;
}

.site-wrapper {
  margin: 0 10rem;
  background-color: $dark-background-colour;
}

// *=========================================
// ** Content container and block **
// *=========================================

//********** Headings**********

h1,
h2,
h3 {
  @include heading-font-stack;
}

//********** Containers **********

//********** Paragraphs **********

// *=========================================
// ** Inline **
// *=========================================

//********** Images **********

//********** Links **********

// *=========================================
// ** Header  **
// *=========================================

.main-header {
  @include header-font-stack;
}

.top-header-div {
  @include flex(row);
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.header-contact-div {
  @include flex(column);
  align-items: flex-end;

  a {
    color: $light-font-colour;
    padding-bottom: 0.5rem;
    font-size: $larger-font-size;
  }
}

.header-twitter-logo {
  width: 40px;
}

.header-phone-link {
  text-decoration: none;
}

// *=========================================
// ** Main Nav  **
// *=========================================

.main-nav {
  background-color: $light-background-colour;
  width: 100%;
}

.main-nav-ul {
  @include flex(row);
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.main-nav-li {
  list-style-type: none;
  width: auto;
}

#selected {
  a {
    color: $link-colour;
    border-bottom: 3px solid $link-colour;
    padding-bottom: 0;
    pointer-events: none;
  }
}

.main-nav-link {
  text-decoration: none;
  color: $dark-font-colour;
  display: inline-block;
  padding: 0.5rem 0;
  margin: 0.5rem 1rem;
  text-transform: uppercase;
  transition: all $transition-duration;

  &:hover,
  &:focus {
    color: $link-colour;
  }
}

// *=========================================
// ** Body **
// *=========================================

main {
  @include font-stack;
  font-size: $main-font-size;
  margin-bottom: $large-section-spacing;
}

section {
  padding: 0 $large-section-spacing;
}

// *=========================================
// ** Forms  **
// *=========================================

.main-contact-form {
  @include flex(column);
  width: 50%;
  margin: 0 auto;

  label {
    display: block;
    margin-bottom: 0.25rem;
  }

  input,
  select {
    width: 100%;
    padding: 0.25rem;
    font-size: $main-font-size;
    font-family: inherit;
    margin-bottom: 1rem;
    border: 3px solid $light-background-colour;
    transition: all $transition-duration;
  }
}


.contact-form-heading {
  color: $accent-font-colour;
  font-weight: normal;
  text-align: center;
}


.radio-div,
.checkbox-div {
  margin-bottom: $small-section-spacing;

  label {
    display: inline;
  }

  input {
    width: fit-content;
  }

  a {
    color: $light-font-colour;
  }
}

.radio-input-wrapper-span {
  position: relative;

  &:first-of-type {
    margin-right: 2rem;
  }

  input {
    position: absolute;
    top: .5rem;
  }

  #form1_conservatory1 {
    left: 2rem;
  }

  #form1_conservatory2 {
    left: 1.5rem;
  }
}

.required-span {
  color: $accent-font-colour;
}

.neighbour-refferal-div,
.contact-form-terms,
.form-consent-div {
  margin-bottom: $section-spacing;
}

#form1_submit {
  background-color: $link-colour;
  border: 0;
  transition: all $transition-duration;
  margin-top: $small-section-spacing;
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: $darker-link-colour;
    color: $light-font-colour;
  }
}
.contact-form-terms {
  padding: 0.5rem;
  border: 2px solid $light-font-colour;
  font-size: $smaller-font-size;

 @include first-and-last-paragraph;

}

.success {
  text-align: center;
}

//********** Validation **********

.form-input-validation {
  &:invalid {
    border: 3px solid $warning;
  }

  &:valid {
    border: 3px solid $valid;
  }
}

.not-valid {
  border: 3px solid $warning !important;
}

//********** Anti Spam **********

.form-identification-number {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  display: none;
  visibility: hidden;
}

// *=========================================
// ** Footer  **
// *=========================================

footer {
  @include flex(column);
  align-items: center;
  padding: $section-spacing;
  border-top: 1px solid #fff;
  margin: 0 10px;
  @include font-stack;

  a {
    color: $light-font-colour;
  }

  p {
    margin: 0;
    font-size: $main-font-size;
    line-height: 1.1;
  }
}

.footer-contact,
.footer-legal,
.footer-promo {
  text-align: center;
  margin-bottom: $section-spacing;
}

//*==============================================================================
//** Pages  **
//*==============================================================================

//*=========================================
//** Top Section  **
//*=========================================

//********** Top images **********

.main-image-div {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main-body-image {
  border-top: 1px solid $dark-font-colour;
  width: 100%;
}

.side-banner-image {
  position: absolute;
  right: -0.5rem;
  top: 1rem;
}

//********** Homepage Top Section Text **********

.page-heading {
  text-align: center;
  color: $accent-font-colour;
  font-size: $heading-size-large;
  font-weight: 400;
  margin: $large-section-spacing auto;
}


.general-text-area {
  text-align: center;
  margin-bottom: $section-spacing;

  @include first-and-last-paragraph;
}

.code-embed-div {
  width: 100%;

  iframe {
    width: 100%;
  }
}