<html>
<head>
    <title><perch:email id="email_subject"></title>
</head>
<body>
    <h1>
        <perch:email id="email_subject">
      </h1>
  <table>
    <tr>
      <th>Message</th>
      <td><perch:email id="message" encode="false"></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><perch:email id="name"></td>
    </tr>
    <tr>
      <th>Tel</th>
      <td><perch:email id="tel"></td>
    </tr>
    <tr>
      <th>House/Flat Number</th>
      <td><perch:email id="homeNumber"></td>
    </tr>
    <tr>
      <th>Street</th>
      <td><perch:email id="addressStreet"></td>
    </tr>
    <tr>
      <th>Postcode</th>
      <td><perch:email id="postcode">
        </td>
    </tr>
    <tr>
      <th>House/Flat Size</th>
      <td><perch:email id="housesize"></td>
    </tr>
    <tr>
      <th>House/Flat Size 2</th>
      <td><perch:email id="housefloors"></td>
    </tr>
    <tr>
      <th>Conservatory</th>
      <td><perch:email id="conservatory"></td>
    </tr>
    <tr>
      <th>Neighbour Referral</th>
      <td><perch:email id="neighbourRefferal"></td>
    </tr>
    <tr>
      <th>Terms Consent Check</th>
      <td><perch:email id="consentCheck"></td>
    </tr>
  </table>
</body>
</html>










