<h1 class="page-heading"  >
  <perch:content id="homepageHeading" type="text" label="HomepageHeading"  required>
</h1>

<div class="homepage-bracket-list-div">
  <ul class="homepage-list">
    <li class="homepage-list-li">
      <perch:content id="listItemOne" type="text" label="List Item One">
    </li>
    <li class="homepage-list-li">
      <perch:content id="listItemTwo" type="text" label="List Item Two">
    </li>
    <li class="homepage-list-li">
      <perch:content id="listItemThree" type="text" label="List Item Three">
    </li>
    <li class="homepage-list-li">
      <perch:content id="listItemFour" type="text" label="List Item Four">
    </li>
    <li class="homepage-list-li">
      <perch:content id="listItemFive" type="text" label="List Item Five">
    </li>
    <li class="homepage-list-li">
      <perch:content id="listItemSix" type="text" label="List Item Six">
    </li>
  </ul>

  <div class="homepage-list-after">
    <p class="first-after-paragraph">
      <perch:content id="firstAfterParagraph" type="text" label="First Line After List" >
    </p>
    <p class="second-after-paragraph">
      <perch:content id="secondAfterParagraph" type="text" label="Second Line After List" >
    </p>
  </div>

</div>

<div class="homepage-text-area">
  <perch:content id="homepageTextArea" type="textarea" label="Homepage Text Area" editor="redactor"  required  html>
</div>

<a href="/pricing" class="homepage-pricing-link">
  <perch:content id="pricingLinkText" type="text" label="Pricing Link Text">
</a>