<div class="main-image-div">
  <img class="main-body-image" src="<perch:content id="mainBodyImage" type="image" width="1200" label="Main Image">" alt="<perch:content id="alt" type="text" label="Image description">"
  sizes="(max-width:1000) 100vw, 80vw"
  srcset="<perch:content type="image" id="mainBodyImage" width="1200" > 1200w,
  <perch:content type="image" id="mainBodyImage" width="900" > 900w,
  <perch:content type="image" id="mainBodyImage" width="600" > 600w,
  <perch:content type="image" id="mainBodyImage" width="400" > 400w" >

  <img class="side-banner-image" src="<perch:content id="sideBannerImage" type="image" label="Side Banner Image">" alt="<perch:content id="altTwo" type="text" label="Image description">">

</div>